<div class="container-fluid home-container">
    <div class="row">
      <div class="col-md-6 home-image" style="background-image: url('../../../assets/car1.jpg');">
        <div class="content">
        </div>
      </div>
      <div class="col-md-6 home-image" style="background-image: url('../../../assets/car2.jpg');">
        <!-- Replace 'path/to/image2.jpg' with the actual path to your image -->
        <div class="content">
          <!-- Content for the second image -->
        </div>
      </div>
      <div class="col-md-6 home-image" style="background-image: url('../../../assets/car3.jpg');">
        <!-- Replace 'path/to/image3.jpg' with the actual path to your image -->0
        <div class="content">
          <!-- Content for the third image -->
        </div>
      </div>
      <div class="col-md-6 home-image" style="background-image: url('../../../assets/car4.jpg');">
        <!-- Replace 'path/to/image4.jpg' with the actual path to your image -->
        <div class="content">
          <!-- Content for the fourth image -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="reserve-text">Réservez votre meilleure voiture</p>
      </div>
    </div>
  </div>